################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasicAzureTest/bin/Debug/net461
/BasicAzureTest/obj/Debug/net461
/BasicAzureTest/obj
